body{
	background-color:#1D00FF !important;
}
nav{
	background-color:black;
	color:white;
}
section{
	width:auto;
	background-color:white !important;
	padding-left:5%;
	padding-right:5%;
	padding-top:5%;
	padding-bottom:5%;

	margin-right:5%;
	margin-left:5%;
	


}
section input[type="text"] { 
	width :75%;
	min-width:350px;
}
.welcome{
	width:100%;
	 background-color:black;
	 color:white;
}
.error,.success {
	display:none;
}