<section>
	<h2>Add User</h2>
	<form  method="POST">
	<input type="hidden" name="action" value="save">
	<table>
		<tr>
			<th colspan="2">Add a User</th>
		</tr>
		<tr>
			<td>First & Last Name</td>
			<td><input type="text" name="firstAndLastName"></td>
		</tr>
		<tr>
			<td>Email Address</td>
			<td><input type="text" name="emailAddress"></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td>Confirm Password</td>
			<td><input type="password" name="confirmPassword"></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" value="add"></td>
		</tr>
	</table>
</section>